language: android
sudo: required
jdk: oraclejdk8

android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-27.0.3
    - android-27
    - extra

script:
   - ./gradlew build connectedCheck

before_cache:
 -rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
 -rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    -$HOME/.gradle/caches/
    -$HOME/.gradle/wrapper/
    -$HOME/.android/build-cache
